ENV=local
PORT=8085

# OpenAI API Key
OPENAI_API_KEY=sk-proj-
MODEL_NAME     = "gpt-4o-mini"

# Chroma Connection
CHROMADB_HOST = "127.0.0.1"
CHROMADB_PORT = 8000 

# Tavily API Key
TAVILY_API_KEY=tvly-9

# Database Connection
DB_USER= postgres
DB_PASS= 180802
DB_HOST= localhost
DB_PORT= 5432
DB_NAME= postgres
