# OpenAI API Configuration
OPENAI_API_KEY=sk-

# Google Gemini API Configuration
GEMINI_API_KEY=

# PostgreSQL Database Configuration
DB_HOST= #localhost
DB_NAME=
DB_USER=
DB_PASSWORD= 
DB_PORT=5432

# Server Configuration
SERVER_HOST=localhost
SERVER_PORT=8000
